<!DOCTYPE html>
<html>

<head>

    <title>
        Interview Experience Portal
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="form-container">

        <h1>
            Interview Experience Sharing Portal
        </h1>

        <p style="text-align:center;">

            Share and explore real
            interview experiences 🚀

        </p>

        <div class="top-buttons">

            <a href="/login_page">
                Login
            </a>

            <a href="/register_page">
                Register
            </a>

        </div>

    </div>

</body>

</html>